html, body {
  // background: rgb(200,200,200);
  background: #f8f8f8;
}

.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
  background: 0 0; 
  // color: inherit; 
  border-color: transparent;
}

// .uk-tab>*>a {
//   font-size: 1.25rem;
// }

.dim-border {
  border-bottom: 1.5px rgb(200,200,200) dotted;
}

.previous-icon {
  border-left: 1.5px rgb(200,200,200) dotted;
}

.next-icon {
  border-right: 1.5px rgb(200,200,200) dotted;
}

.previous-icon,.next-icon {
  color: rgb(200,200,200);

  &:hover {
    color: #1e87f0;
    border-color: #1e87f0;
  }
}

svg .default {
  fill: #c8c8c8;
}

svg .dashed {
  fill: #eeeeee;
  // stroke-dasharray: 20.5 41;
  // stroke-width: 3;
  // stroke: #c8c8c8;
}

svg line {
  stroke: #c8c8c8;
  stroke-width: 4;
}

svg .diagonal {
  stroke: #c8c8c8;
  stroke-width: 20;
}

svg tspan {
  fill: #c8c8c8;
  font-size: 80px;
  text-anchor: middle;
}

// @todo Add a pulsing effect to either next or previous, whichever is closest
// @todo .dim-border should be red when dim isn't valid
// @todo Optimise for mobiles and smaller screens